<address class="nav navbar-nav navbar-right">
    <strong>Contact Information</strong><br>
    <small>(USA) +1 (855) 875-4700 <br /></small>
    <small>(E) <a href="mailto:info@4thsource.com">info@4thsource.com</a><br /></small>
</address>
